*{
    padding: 0;
    margin: 0 ;
    list-style-type: none;
    font-family: Helvetica , Helvetica Neue , PingFang SC , Hiragino Sans GB , Microsoft YaHei , Arial,SimSun , sans-serif !important;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}


@media screen and (min-width:577px){
       /* 头部导航栏 */
.header_wrap{
    transition: all 0.5s 0s linear;
    -webkit-transition: all 0.5s 0s linear;
    -moz-transition: all 0.5s 0s linear;
    -ms-transition: all 0.5s 0s linear;
    -o-transition: all 0.5s 0s linear;
    z-index: 9999999;
}
.header_box{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    /* background-color: #f30b0b; */
}
/* 移动端的菜单按钮开始 */
.chebian_btn{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height:1.2em;
    font-size: 36px;
    color: white;
    font-weight: 300;
    border: none;
    position: relative;
    /* background-color: #1eff00; */
}
.chebian_btn img{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: opacity 0.5s 0 linear;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transition: opacity 0.5s 0 linear;
    -moz-transition: opacity 0.5s 0 linear;
    -ms-transition: opacity 0.5s 0 linear;
    -o-transition: opacity 0.5s 0 linear;
}
.chebian_btn img:nth-child(2){
    opacity:0;
}
.chebianBtn_wrap{
    display: none;
}
/* 移动端的菜单按钮结束 */
.logo_wrap{
    width: 84px;
    margin: 15px 0 0 25px;
    float: left;
}
.logo_box{
    width: 84px;
    /* height: 60px; */
    color: white;
    line-height: 60px;
    font-size:38px;
    text-align: center;
    /* background-color: rgb(70, 243, 18); */
}
.logo_box img{
    width:100%;
}
.linkPages{
    width: 415px;
    float: right;
}
.nav_wrap{
    /* background-color: rgb(0, 26, 255); */
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
}
.nav_wrap li{
    /* justify-content: space-between; */
    color: white;
    cursor: pointer;
    /* background-color: rgb(210, 231, 16); */
    margin-right: 48px;
    opacity: 0.5;

}
.nav_wrap li:nth-child(4){
    margin-right: 0px;


}
.nav_wrap li:nth-child(3){
    opacity: 1;

}
.nav_wrap li a{
    /* font-family: PingFangSC-Regular; */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
 
}
.nav_wrap li:hover{
    opacity: 0.7;
}
.nav_wrap li.currentLi:hover{
    opacity: 1;
}
/* 头部导航栏结束 */
/* banner板块开始 */
.banner_wrap{
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;

}
.banner_wrap .banner_text{
    width: 600px; 
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 99;
}
.banner_wrap .banner_text h3{
    width:100%;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 52px;
    /* background-color: rgb(136, 255, 0); */
} 
.banner_wrap .banner_bigimg{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 2560px;
    height:100%;
    /* background-color: #ff811b; */
    background: url(../img/imgs/PC-banner.jpg) no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* banner板块结束 */
/* 文本内容模块开始 */
.content_box{
    width: 940px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
    /* background-color: aqua; */
    border-top: 1px solid white;
   
}
.content_box .intro_wrap{
    position: relative;
    width: 100%;
    /* height: 500px; */
    /* background-color: red; */
}
.content_box .intro_wrap h2{
    width: 940px;
    margin: 0 auto ;
    letter-spacing: 0;
    margin-bottom: 40px;
    font-family: Helvetica-Bold;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
}
.content_box .intro_wrap p.lead{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5.25rem;
    width: 940px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-family: 'Helvetica-Light';
    font-size: 18px;
    color: #040408;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 32px;
    /* background-color: red; */
}
/* Topics开始 */
.topics_wrap{
    /* background-color: red; */
}
.topics_wrap h3{
   width: 100%;
   height: 36px;
   font-family: Helvetica-Bold;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 40px;
    font-weight: 600;
}
.topics_ul .topic_con{
    width: 100%;
    /* background-color: #1E8EFF; */
    overflow: hidden;
    margin-bottom: 30px;

}
.topics_ul .topic_con h4{
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.2px;
    margin-bottom:12px;
    font-weight: 600;
}
.topics_ul .topic_con p{
    width: 100%;
    /* background-color: #1E8EFF; */
    margin-bottom: 8px;
    font-family: Helvetica-Light;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 32px;

}
/* Topics结束 */
/* 具体年月日开始 */
.ddl_wrap{
    width: 100%;
    margin-top: 84px;
    /* background-color: #ff811b; */
}
.ddl_wrap ul{
    width: 100%;
}
.ddl_wrap ul h4.title{
    width: 100%;
   height: 36px;
   line-height: 36px;
   font-family: Helvetica-Bold;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 40px;
}
.ddl_wrap ul li{
    width: 100%;
   height: 32px;
   line-height: 32px;
   /* background-color: aquamarine; */
}
.ddl_wrap ul li strong{
    font-family: 'Helvetica-Bold';
    font-size: 18px;
    color: #040408;
    letter-spacing: 0.2px;
}
.ddl_wrap ul li span{
    font-family: 'Helvetica-Light';
    font-size: 18px;
    color: #040408;
    letter-spacing: 0.2px;
    text-align: justify;
    margin-left: 40px;
    /* background-color: #ff811b; */
}
.contentSpan2{
    margin-left:80px !important;

}
.contentSpan3{
    margin-left:160px !important;

}
.contentSpan4{
    margin-left:28px !important;
}

/* 具体年月日结束 */
/* 邮件板块开始 */
.email_wrap{
    width: 100%;
    margin-top: 100px;
    /* background-color: aquamarine; */
}
.email_wrap h4{
    width: 100%;
    height: 36px;
    font-family: 'Helvetica-Bold';
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 42px;
    /* background-color: rgb(139, 185, 31); */
}
.email_wrap p{
    width: 100%;
    height: 24px;
    /* background-color: rgb(21, 226, 123); */
}
.email_wrap p i{
    float: left;
    display:block;
    margin-right: 12px;
    width:30px;
    height: 24px;
    /* background-color: rgb(226, 21, 21); */
}
.email_wrap p i img{
  width: 100%;
  height: 100%;
}
.email_wrap p a{
    font-family: Helvetica;
    font-size: 18px;
    color: #1E8EFF;
    letter-spacing: 0.2px;
    text-align: justify;
}
/* 邮件板块结束 */
/* 文本内容模块结束 */
/* copyright板块开始 */
.footer_box{
    height: 150px;
    /* border: 1px solid rgb(243, 0, 81); */
    /* background-color: #444444; */
}
.footer_box .footer_wrap{
    width: 80%;
    height: 150px;
    /* border: 1px solid rgb(243, 0, 81); */
    margin: 0 auto;
}
.footer_box .footer_wrap h2{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.footer_box .footer_wrap .logoBoxs{
    /* margin-bottom: 30px; */
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    display:flex;
    align-items: center;
    justify-content: space-around;
} 
.footer_box .footer_wrap .logoBoxs li{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
   
}
/* copyright板块结束 */
/* 移动端首屏图片板块 */
.wise_navbar{
    display:none;
}
.cebianBtn{
    display:none;
}
/* 移动端首屏图片板块结束 */


}





@media screen and (max-width:576px){
.header_zhanwei{
    height: 60px !important;
}
/* 头部导航栏 */
.header_wrap{
    transition: all 0.5s 0s linear;
    -webkit-transition: all 0.5s 0s linear;
    -moz-transition: all 0.5s 0s linear;
    -ms-transition: all 0.5s 0s linear;
    -o-transition: all 0.5s 0s linear;
    z-index: 9999999;
    width:100%;
    overflow: hidden;
   
}
.header_box{ 
    height: 60px;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
   position: relative;
   border-bottom: 1px solid rgba(255,255,255,0.13);
}
/* 移动端的菜单按钮开始 */
.cebianBtn{
    width: 28px;
    height: 28px;
    /* background-color: red; */
    position: absolute;
    top: 16px;
    right: 26px;

}
.cebianBtn img{
    width: 28px;
    height: 28px;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
}
.cebianBtn img:nth-child(2){
    display:none;
    width: 24px;
    height: 24px;
    position: relative;
    top: 2px;
    left: 2px;
}
/* 移动端的菜单按钮结束 */
/* 移动端导航栏开始 */
.wise_navbar{
    width:100%;
    transition:all .3s 0s linear ;
    -webkit-transition:all .3s 0s linear ;
    -moz-transition:all .3s 0s linear ;
    -ms-transition:all .3s 0s linear ;
    -o-transition:all .3s 0s linear ;
    height: 0;
}
.wise_navbar .nav_ul{
    width: 85%;
    margin: 0 auto;
    /* background-color: rgb(118, 226, 30); */
}
.wise_navbar .nav_ul .nav_li{
    width:100%;
    height:59px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    text-align: left;
    line-height: 60px;
    font-size: 4vw;
    color: white;
}
.wise_navbar .nav_ul .nav_li a{
    display: block;
    width:100%;
    height: 100%;
    /* background-color: red; */
}
/* 移动端导航栏结束 */
.logo_wrap{
    width: 70px;
    margin:18px 0 0 30px;
    float: left;
    /* border: 1px solid red; */
}
.logo_box{
    width: 100%;
    /* height: 60px; */
    color: white;
    line-height: 60px;
    font-size:38px;
    text-align: center;
}
.logo_box img{
    width:100%;
}
.linkPages{
    display: none;
}

/* 头部导航栏结束 */
/* banner板块开始 */
.banner_wrap{
    width: 100%;
    /* background-color: #06c8eb; */
    height:140px;
    overflow: hidden;
    position: relative;

}
.banner_wrap .banner_text{
    width: 600px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    -webkit-transform: translate(-50%,-30%);
    -moz-transform: translate(-50%,-30%);
    -ms-transform: translate(-50%,-30%);
    -o-transform: translate(-50%,-30%);
    z-index: 99;
}
.banner_wrap .banner_text h3{
    width:100%;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 8vw;
    /* background-color: rgb(136, 255, 0); */
} 
.banner_wrap .banner_text p{
    width:100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size:28px;
} 
.banner_wrap .banner_bigimg{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 620px;
    height:100%;
    /* background-color: #ff811b; */
    background: url(../img/imgs/手机端banner.jpg) no-repeat;
    background-size: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* banner板块结束 */
/* 文本内容模块开始 */
.content_box{
    width:100%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    /* background-color: aqua; */
    border-top: 1px solid white;
    overflow: hidden;
   
}
.content_box .intro_wrap{
    position: relative;
    width: 90%;
    margin:0 auto;
}
.content_box .intro_wrap h2{
    width: 100%;
    margin: 0 auto ;
    letter-spacing: 0;
    margin-bottom: 30px;
    font-family: Helvetica-Bold;
    font-size: 8vw;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
}
.content_box .intro_wrap p.lead{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-family: 'Helvetica-Light';
    font-size: 4.5vw;
    color: #040408;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 32px;
    /* background-color: red; */
}
/* Topics开始 */
.topics_wrap{
    width: 90%;
    margin: 0 auto;
    /* background-color: red; */
}
.topics_wrap h3{
   width: 100%;
   height: 36px;
   font-family: Helvetica-Bold;
    font-size: 8vw;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 600;
}
.topics_ul .topic_con{
    width: 100%;
    /* background-color: #1E8EFF; */
    overflow: hidden;
    margin-bottom: 30px;

}
.topics_ul .topic_con h4{
    font-family: Helvetica-Bold;
    font-size: 4.5vw;
    color: #000000;
    letter-spacing: 0.2px;
    margin-bottom:12px;
    font-weight: 600;
}
.topics_ul .topic_con p{
    width: 100%;
    /* background-color: #1E8EFF; */
    margin-bottom: 8px;
    font-family: Helvetica-Light;
    font-size: 4.5vw;
    color: #000000;
    letter-spacing: 0.2px;
    line-height: 32px;

}
/* Topics结束 */
/* 具体年月日开始 */
.ddl_wrap{
    width: 100%;
    margin-top: 40px;
    /* background-color: #ff811b; */
}
.ddl_wrap ul{
    margin: 0 auto;
    width: 90%;
}
.ddl_wrap ul .title{
    width: 100%;
   line-height: 36px;
   font-family: Helvetica-Bold;
    font-size: 8vw;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.ddl_wrap ul li{
    width: 100%;
   /* background-color: aquamarine; */
}
.ddl_wrap ul li strong{
    display:block;
    width: 100%;
    margin-bottom: 4px;
    font-family: 'Helvetica-Bold';
    font-size: 4.5vw;
    color: #040408;
    letter-spacing: 0.2px;
    line-height: 34px;
}
.ddl_wrap ul li span{
    width: 100%;
    font-family: 'Helvetica-Light';
    font-size: 4.5vw;
    color: #040408;
    letter-spacing: 0.2px;
    /* text-align: justify; */
    line-height: 28px;
}

/* 具体年月日结束 */
/* 邮件板块开始 */
.email_wrap{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: aquamarine; */
}
.email_wrap h4{
    width: 100%;
    height: 36px;
    font-family: 'Helvetica-Bold';
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 34px;
    /* background-color: rgb(139, 185, 31); */
}
.email_wrap p{
    width: 100%;
    height: 24px;
    /* background-color: rgb(21, 226, 123); */
}
.email_wrap p i{
    float: left;
    display:block;
    margin-right: 12px;
    width:30px;
    height: 24px;
    /* background-color: rgb(226, 21, 21); */
}
.email_wrap p i img{
  width: 100%;
  height: 100%;
}
.email_wrap p a{
    font-family: Helvetica;
    font-size: 18px;
    color: #1E8EFF;
    letter-spacing: 0.2px;
    text-align: justify;
}
/* 邮件板块结束 */

/* 文本内容模块结束 */
/* copyright板块开始 */
.footer_box{
    height: 150px;
    /* border: 1px solid rgb(243, 0, 81); */
    /* background-color: #444444; */
}
.footer_box .footer_wrap{
    width: 80%;
    height: 150px;
    /* border: 1px solid rgb(243, 0, 81); */
    margin: 0 auto;
}
.footer_box .footer_wrap h2{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.footer_box .footer_wrap .logoBoxs{
    /* margin-bottom: 30px; */
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    display:flex;
    align-items: center;
    justify-content: space-around;
} 
.footer_box .footer_wrap .logoBoxs li{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
   
}
/* copyright板块结束 */


 
    }
    